# Ambientes virtuais
.venv/
.env/
.ENV/
.venv/

# Arquivos de cache do Python
__pycache__/
*.py[cod]
*$py.class

# Pesos do YOLO (modelos baixados automaticamente)
*.pt

# Arquivos gerados pelo sistema operacional
.DS_Store
Thumbs.db

# Pastas de IDEs (VS Code, PyCharm)
.vscode/
.idea/
